<ion-view view-title="Savings">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap text-center row">
        <div class="col">
          <ion-list>
            <a class="button button-block button-small button-balanced button-full"
            ng-click="currentSavings()">
            <i class="icon ion-clipboard"></i> 
            CURRENT SAVINGS</a>
            <a class="button button-block button-small button-balanced button-full"
            ng-click="withdrawSavings()">
            <i class="icon ion-archive"></i> 
            WITHDRAW SAVINGS</a>
            <a class="button button-block button-small button-balanced button-full"
            ng-click="howToSave()">
            <i class="icon ion-flag"></i> 
            HOW TO SAVE</a>
            <a class="button button-block button-small button-balanced button-full"
            ng-click="beneficiary()">
            <i class="icon ion-person-stalker"></i> 
            BENEFICIARIES</a>
          </ion-list>          
          
          
        </div>   
      </div>
      
      <div class="item item-text-wrap text-center row">
            <div class="col kidogo">
              Contact us on <br>
              <a class="button button-balanced button-small footer" href="#" onclick="window.open('mailto:info@inukapap.co.ke', '_system')">
                <ion-icon class="ion-ios-email"></ion-icon>
              </a>
              <a class="button button-balanced button-small footer"  href="#" onclick="window.open('https://www.facebook.com/inukapap', '_system')">
                <ion-icon class="ion-social-facebook"></ion-icon>
              </a>
              <a class="button button-balanced button-small footer" href="tel:+254701949994">                
                <ion-icon class="ion-android-call"></ion-icon>
              </a>
            </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<script id="savings-modal.html" type="text/ng-template" class="scale-in">
      
        <div class="card"> 
          <ion-list>
            <ion-item>
              Current Savings
            </ion-item>
          </ion-list>          
          <ion-list>            
            <label class="item item-input">
              <span class="input-label">Enter Pin</span>
              <input type="password" ng-model="user.pin" placeholder="****">
            </label>
            <label class="item item-input item-floating-label">
              <button class="button button-energized" ng-model="pin" ng-click="auth(user)">
                GO
              </button>
            </label>
          </ion-list>
          <ion-list>
            <ion-item>
              <span class="site-color">Savings Ksh: {{balance}}</span><br>
              <span class="site-color">Shamba: {{shamba}}</span> <br>     
              <span class="site-color">Hire Purchase: {{hp}}</span> <br>        
            </ion-item>
          </ion-list>
        </div>
</script>
<script id="withdrawal-modal.html" type="text/ng-template" class="scale-in">
  
        <div class="card">
          <ion-list>
            <div class="item item-divider site-color text-center">
                Withdraw Savings
            </div>
                  <ion-list>
                    <div class="list">            
                    <label class="item item-input">
                      <input type="number" ng-model="savings.amount" placeholder="Amount">
                    </label>
                    </div>
                  </ion-list>
                  <ion-list>
                    <div class="list">
                    <label class="item item-input">
                      <input type="password" ng-model="savings.pin" placeholder="pin">
                    </label>
                      </div>
                  </ion-list>
                  <ion-list>
                    <div class="list">
                    <label class="item item-input">
                      <button class="button button-energized button-small" ng-click="savingsRequest(savings)">
                      Withdraw
                    </button>
                  </label>            
                  </div>
                  </ion-list>
          </ion-list>
        </div>
</script>

<script id="how-to-save.html" type="text/ng-template" class="scale-in">
  
        <div class="card">
          <ion-list>
            <div class="item item-divider site-color text-center">
                How To Save
            </div>
                  <ion-list>
                    <div class="list">            
                      <div class="item item-divider text-center row">
                          Saving Gives You Access To Medical Cover
                      </div>
                        
                      <div class="item item-text-wrap text-center row">
                        <div class="col kidogo">
                          You can save more through Pay Bill Number 263520, account no is your phone number {{phone}}. <br> 
                        </div>
                        
                      </div>
                    </div>
                  </ion-list>
          </ion-list>
        </div>
</script>
<script id="beneficiaries.html" type="text/ng-template" class="scale-in">
  
        <div class="card">
          <ion-list>            
            <div class="card">
              <label class="item item-input site-color">
                <div class="col">Beneficiaries  </div>  
                </label>
              <label class="item item-input" ng-repeat="b in beneficiaries" ng-if="beneficiaries">
                <span class="input-label"><img ng-src="http://app.inukapap.co.ke/uploads/insurance/{{ user_id }}/{{b.photo}}" width="100px"></span>
                <span class="input-label"><p>{{b.names}}<br>{{b.relation}}<br>{{b.email}}<br>IDNO: {{b.idno}}</p></span>
              </label>
                <div class="col kidogo">You can send information on your beneficiaries to info@inukapap.co.ke: names, id no, phone and date of birth, passport Photo and Birth certificate</div>
            </div>
          </ion-list>
        </div>
</script>
