<ion-view view-title="LoginPage">
  <ion-content class="padding">
  <div class="card">
    <div class="item item-text-wrap text-center">
      <ion-list>
        <div class="list"> 
          <img ng-src="img/inuka-pap-logo-300x113.png"> 
        </div>  
        <div class="list">
        <a class="button button-balanced button-full" href="#/login"><i class="icon ion-ios-person"></i> Login</a>  
        </div> 
      </ion-list>
      <div class="item item-text-wrap text-center row">
            <div class="col kidogo">
              Contact us on <br>
              <a class="button button-balanced button-small footer" href="#" onclick="window.open('mailto:info@inukapap.co.ke', '_system')">
                <ion-icon class="ion-ios-email"></ion-icon>
              </a>
              <a class="button button-balanced button-small footer"  href="#" onclick="window.open('https://www.facebook.com/inukapap', '_system','location=yes')">
                <ion-icon class="ion-social-facebook"></ion-icon>
              </a>
              <a class="button button-balanced button-small footer" href="tel:+254701949994">                
                <ion-icon class="ion-android-call"></ion-icon>
              </a>
            </div>
      </div>
    </div>
  </div>    
  </ion-content>
</ion-view>