<ion-view view-title="Dashboard">
    <ion-nav-view name="tab-insurance"></ion-nav-view>
  <ion-content class="padding">
  <div class="card">    
    <div class="item item-text-wrap  text-center">
    <h2 class="site-color"> {{ first_name }} {{ last_name }} ({{phone}})</h2>
      <h4>Welcome to InukaPap </h4><hr>
      <img ng-src="img/inuka-pap-logo-300x113.png">
      
    </div>
    <div class="item item-text-wrap text-center">      
      <ion-list>
        <a class="button button-block button-small button-balanced button-full"
        href="#/tab/loans">
        <i class="icon ion-cash"></i> 
        LOANS</a>
      </ion-list>
      <ion-list>
        <a class="button button-block button-small button-balanced button-full"
        href="#/tab/savings">
        <i class="icon ion-medkit"></i> 
        SAVINGS</a>
      </ion-list>
    </div>
    <div class="item item-text-wrap text-center row">
            <div class="col kidogo">
              Contact us on <br>
              <a class="button button-balanced button-small footer" href="#" onclick="window.open('mailto:info@inukapap.co.ke', '_system')">
                <ion-icon class="ion-ios-email"></ion-icon>
              </a>
              <a class="button button-balanced button-small footer"  href="#" onclick="window.open('https://www.facebook.com/inukapap', '_system')">
                <ion-icon class="ion-social-facebook"></ion-icon>
              </a>
              <a class="button button-balanced button-small footer" href="tel:+254701949994">                
                <ion-icon class="ion-android-call"></ion-icon>
              </a>
            </div>
      </div>
    </div>    
  </div>
    
  </ion-content>
</ion-view>


