<ion-view view-title="Loans">
  <ion-content class="padding">
  	<div class="card">
	    <div class="item item-text-wrap text-center row">
	    	<div class="col">
	    		<ion-list>
	    			<ion-item>
			    		Current Loan
			    	</ion-item>
			    	<ion-item>
			    		<font style="color:#ff5600;font-size:20px;font-weight:bold">4000.00</font><br>
			    		<font style="color:#ff5600;font-size:20px;font-weight:bold">KSH</font>
			    	</ion-item>
			    </ion-list>
	    	</div>    
	    	<div class="col">
	    		<ion-list>
			    	<div class="list">					  
					  <label class="item item-input item-floating-label">
					    <span class="input-label">Password</span>
					    <input type="password" placeholder="****">
					  </label>
					  <label class="item item-input item-floating-label">
					  	<button class="button button-energized">
						  GO
						</button>
					</label>					  
					</div>
			    </ion-list>
	    	</div>	    		
	    </div>
	    <div class="item item-text-wrap text-center row">
        <div class="col">
          You can pay your loan through Safaricom's Pay Bill Number 263520
        </div>
      </div>
    </div>    
  </ion-content>
</ion-view>