<ion-view view-title="Dashboard">
  <ion-content class="padding">
  <div class="card">
    <div class="item item-text-wrap text-center">
      <h2> {{ phone }} Welcome to InukaPap </h2>
    </div>
    <div class="item item-text-wrap">
      <img ng-src="img/inuka-pap-logo-300x113.png">
      <p class="text-center">
      iNuka Pap provides instant emergency Financial Services to MFI and SACCO members through the iNuka Pap proprietary platform.<hr>
      <a  class="text-center" href="http://inukapap.co.ke/" target="_blank">iNukaPap</a>.
      </p>
    </div>
    <div class="item item-text-wrap">
      <i class="icon ion-card"></i>
      You can save or take loans with iNukaPap platform
    </div>
  </div>
    
  </ion-content>
</ion-view>
