<ion-view view-title="Login">
  <ion-content class="padding">
  <div class="card">
    <div class="item item-text-wrap text-center">
      <ion-list>
        <div class="list"> 
          <img ng-src="img/inuka-pap-logo-300x113.png"> 
        </div>    
        <div class="list">           
          <label class="item item-input item-floating-label">
            <span class="input-label">Phone</span>
            <input type="text" ng-model="user.phone" placeholder="0700000000">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">ID Number</span>
            <input type="number" ng-model="user.idno" placeholder="ID No">
          </label>
          <div class="item item-divider">
              <button class="button button-balanced button-small button-full" ng-click="confirmation(user)">
                Get Confirmation Code
              </button>
          </div>
          <div class="item item-input-inset">
              <label class="item-input-wrapper item-floating-label">
                <span class="input-label">Code</span>            
                <input type="number" ng-model="user.code" placeholder="Confirmation Code">
              </label> 
          </div>
                   
          <label class="item item-input item-floating-label">
            <button class="button button-balanced button-full button-small" ng-click="signin(user)">
              Login
            </button>
          </label>            
        </div>
      </ion-list>
      <div class="item item-text-wrap text-center row">
            <div class="col kidogo">
              Contact us on <br>
              <a class="button button-balanced button-small footer" href="#" onclick="window.open('mailto:info@inukapap.co.ke', '_system')">
                <ion-icon class="ion-ios-email"></ion-icon>
              </a>
              <a class="button button-balanced button-small footer"  href="#" onclick="window.open('https://www.facebook.com/inukapap', '_system','location=yes')">
                <ion-icon class="ion-social-facebook"></ion-icon>
              </a>
              <a class="button button-balanced button-small footer" href="tel:+254701949994">                
                <ion-icon class="ion-android-call"></ion-icon>
              </a>
            </div>
      </div>
    </div>
  </div>    
  </ion-content>
</ion-view>